[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
z3-solver = "*"
numpy = "*"
matplotlib = "*"
display = "*"
pandas = "*"
jupyter = "*"
cvc5 = "*"
seaborn = "*"
ninja = "*"
pysmt = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
